In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir('D:/DIR')

In [134]:
df = pd.read_csv('newstrain.csv')
df1 = pd.read_csv('newstest.csv')

In [135]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [5]:
df1.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [142]:
df.text.fillna('No record',inplace=True)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20800 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [145]:
X = df.text
Y = df.label

In [146]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [147]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size = 0.2, random_state = 10)

In [148]:
vec = TfidfVectorizer(stop_words='english',max_df=0.7)
x_train = vec.fit_transform(xtrain)
x_test = vec.transform(xtest)

In [149]:
pac = PassiveAggressiveClassifier()
pac.fit(x_train,ytrain)
y_pred = pac.predict(x_test)

In [150]:
accuracy_score(ytest,y_pred)

0.9569711538461538

In [151]:
df1.text.fillna('No record',inplace=True)

In [153]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5200 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [154]:
x_ts = df1.text

In [155]:
test1 = vec.transform(x_ts)
result = pac.predict(test1)

In [156]:
result

array([0, 1, 1, ..., 0, 1, 0], dtype=int64)

In [159]:
a = pd.DataFrame(result,columns=['label'])

In [160]:
a

      label
0         0
1         1
2         1
3         0
4         1
...     ...
5195      1
5196      0
5197      0
5198      1
5199      0

[5200 rows x 1 columns]

In [162]:
data = pd.concat([df1.loc[:,'id'],a],axis=1)

In [164]:
data.to_csv('final.csv',index=False)